#homediv {
	height: 60%;
	width: 100%;
	display: inline-block;
}

#imgfilm {
	float: left;
	height: 50%;
	width: 20%;

}

#topdiv {
	height: 20%;
	background-color: gray;
}

#downdiv {
	height: 20%;
}

 {
	color: white;
}

#ciao {
	border-radius: 0px;
	border: 0px;
	background-color: maroon;
}

