#homediv {
	height: 60%;
}

#imgfilm {
	height: 5%;
}

#topdiv {
	height: 20%;
	background-color: gray;
}

#downdiv {
	height: 20%;
}

a {
	color: white;
}

#ciao {
	border-radius: 0px;
	border: 0px;
	background-color: maroon;
}