@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
	/* background-image: url("http://127.0.0.1/cinema/CinemaImages/film4.jpeg");
	height: -webkit-fill-available;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; */
	background-color: rgb(209, 209, 209);
	padding-top: 70px;
	padding-bottom: 70px;
	font-family: 'Ubuntu', sans-serif;
}

#homediv {
	height: 60%;
	width: 100%;
	display: inline-block;
}

nav.barranav.navbar {
	position: fixed;
	border-radius: 0px;
	border: 0px;
	background-color: rgba(128, 0, 0, 0.95);
}

nav.barranav.navbar a {
	color: rgb(209, 209, 209);
}

.navbar-brand {
	padding-top: 0px;
}

.navbar-brand>img {
	height: 150%;
	padding: 0px;
	padding-bottom: 3px;
	padding-top: 0px;
	padding-left: 2px;
	width: auto;
}

/* Carousel controls and image */

.carousel-inner>.item>img {
	width: 100%;
	max-height: 1300px;
	min-height: 492px;
	position: relative;
}

.carouselChevrons {
	width: 90px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.carouselChevrons.left {
	margin-left: 10px;
}

.carouselChevrons.right {
	margin-left: -10px;
}

.footer {
	background-color: rgba(128, 0, 0, 0.95);
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	color: rgb(209, 209, 209)
}

.col-lg-4 .col-md-4 .col-xs-12 {
	align-items: center;
}

/* foto film e orari */

div.contentjumbo.jumbotron {
	background-color: rgba(128, 0, 0, 1);
	padding: 2px;
}

div.filmjumbo.jumbotron {
	background-color: transparent
}

div.filmjumbo.jumbotron {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 0px;
}

div.contentjumbo.jumbotron.film-details {
	padding: 10px;
}

.jumbotron p.film-days {
	margin-bottom: 0px;
	font-size: 25px;
	font-weight: 900;
}

.jumbotron p.film-hours {
	margin-bottom: 0px;
	font-size: 25px;
	font-weight: 500;
}

.jumbotron p.film-title {
	margin-bottom: -20px;
	font-size: 30px;
	font-weight: 900;
}

.jumbotron {
	width: 100%;
	border-radius: 0px!important;
	color: rgb(209, 209, 209)
}

.filmdropdown.btn {
	background-color: rgba(128, 0, 0, 0.9);
	border: 1px solid;
	border-color: rgba(128, 0, 0, 1.0);
	border-radius: 0px;
	outline: none;
}

input.fielderror {
	border: 2px solid red;
}

#buttonhide {
	width: 50px;
	height: 50px;
	background-color: black;
	margin: 0px;
	outline: none;
	border: 0px;
	border-radius: 2px;
	transition-duration: 1s;
	visibility: hidden;
}

.leftdivbg {
	background-color: rgba(128, 0, 0, 0.95);
	height: 100%;
	position: fixed;
	margin-left: -30px;
	margin-top: -20PX;
	padding-top: 20px;
}

#filmdiv {
	height: -webkit-fill-available;
	overflow-y: scroll;
}

@media screen and (max-width: 480px) {
	#filmdiv {
		height: 100%;
		overflow-y: scroll;
	}
}

#rightdiv {
	height: -webkit-fill-available;
	overflow-y: scroll;
}

::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar {
	display: none;
}

#newfilm {
	background-color: rgba(128, 0, 0, 0.95);
	border: 10px solid;
	text-decoration-color: white;
	border-color: rgb(0, 0, 0);
	border-radius: 0px;
	outline: none;
}

#times {
	text-align: right;
}

#timesLabels {
	font-weight: bold;
	color: white;
}

#checkboxes {
	/* text-align: left; */
}

#datafineCheckbox {
	width: 20px;
	outline: none;
}

.radio-line {
	font-weight: bold;
}

#myForm {
	background-color: rgba(128, 0, 0, 0.8);
}

#filmprog {
	font-size: 40px;
	font-weight: 900;
	color: rgb(48, 48, 48);
	text-align: center;
}

div#maincontainer {
	padding-left: 0px;
	padding-right: 0px;
}

#titlejumbo {
	background-color: rgb(56, 50, 52);
	/* padding: 10px; */
	border: 12px solid rgba(128, 0, 0, 0.95);
	border-right: 0px;
	border-left: 0px;
	height: 80px;
	display: inline-block;
	position: relative;
}

#backgroundhoverdiv {
	background-color: #862312;
}