RewriteEngine On
RewriteBase /slim/

 RewriteRule ^$ /slim/index.php [QSA,L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /slim/index.php [QSA,L]

