<table>
<tr><th>Titolo</th><th>isbn</th><th>Casa editrice</th><th>autore</th>
{{#libro}}
<tr>
	<td>{{libro.titolo}}</td>
	<td>{{isbn}}</td>
	<td>{{casa_edit}}</td>
	<td>{{autore}}</td>
</tr>
{{/libro}}
</table>